body {
    background: rgb(190, 166, 166);
    margin-left: 30px;
    margin-right: 200px;
    text-align: justify;
}

header {

    margin-top: 70px;
}

h1 {
    color: red;
    font-family: fantasy;
}

h2 {
    font-family: fantasy;
}

p {
    font-size: 18px;
}

img {
    margin-bottom: 20px;
}